@using ScrumProject.ViewModels;
@using ScrumProject.Models.DataLayer;
@model ScrumProject.ViewModels.BookApptViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Book Appointment</h1>
<label for="types" class="form-label">Appt Types</label>
<select asp-for="@Model.AppointmentTypes" class="form-control" id="types">
    @foreach(AppointmentType type in Model.AppointmentTypes)
    {
        <option value="@type.AppointmentTypeId">@type.Description</option>
    }
</select>