@{
    ViewData["Title"] = "Success";
}

    <!--success message-->
<div class="row text-center mt-5">
    <h2>Appointment request received.</h2>
    <p>Someone from our team will contact you shortly.</p>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-dark" href="@Url.Action("Index", "Home")">Return</a>
</div>
