@*
   Appt success page
*@
@{
}

<div class="container mt-5">
    <!--success message-->
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h4 class="text-success m-3">Appointment request received.</h4>
        <h6 class="text-secondary fst-italic">Someone from our team will contact you shortly.</h6>
    </div>
</div>
