@{
    ViewData["Title"] = "Confirmation";
}

<div class="row text-center mt-5">
    <h2>Thank You!</h2>
    <p>We have recieved your message & we will reach back to you within 24 hours.</p>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-dark" href="@Url.Action("Index", "Home")">Return</a>
</div>