

@{
    ViewData["Title"] = "Contact Us";
}

<!-- Login part -->
<div class="d-flex justify-content-end">
    <div class="row">
        <div class="col text-center">
            <h2>Login</h2>
            <p>Click here to Login</p>
            <button class="btn btn-primary p-1">Login</button>
        </div>
    </div>
</div>

<div class="row text-center">
    <!-- Contact Information -->
    <div class="col-md-6">
        <h2>Contact Information</h2>
        <h4>Directions: West Royal Blvd 313, Boise ID</h4>
        <img class="border w-75 img-fluid" src="location.png" alt="Location">
        <!-- Still need to add more contact info here, placeholder for now -->
        <p class="pt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quae voluptate dicta sequi labore necessitatibus numquam doloribus. Animi, dolor officia voluptate voluptatibus repudiandae unde autem obcaecati provident incidunt suscipit alias est.
        </p>
    </div>

    <!-- Contact Form -->
    <div class="col-md-6">
        <h2 class="pb-3">Contact Us</h2>
        <p>
            Fill out the form & a member from our team will reach back to you within 24 hours.
        </p>

        <form class="border p-3" asp-controller="Contact" asp-action="Send" method="post">
            <!-- First & Last Name -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="pb-1">First Name</label>
                        <input class="form-control" placeholder="First">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="pb-1">Last Name</label>
                        <input class="form-control" placeholder="Last">
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="row pt-2">
                <div class="col">
                    <div class="form-group">
                        <label class="pb-1">Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
            </div>

            <!-- Select  -->
            <div class="row pt-2">
                <div class="col">
                    <div class="form-group">
                        <label for="options" class="pb-1">Subject</label>
                        <select class="form-control" name="options">
                            <option value="" disabled selected>Select an option</option>
                            <option value="general">General</option>
                            <option value="sales">Sales</option>
                            <option value="support">Support</option>
                            <option value="feedback">Feedback</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Comment -->
            <div class="row pt-2">
                <div class="col">
                    <label for="message" class="pb-1">Message</label>
                    <textarea class="form-control" name="message" rows="6" placeholder="Write message..."></textarea>
                </div>
            </div>

            <!-- Submit -->
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>



