@using ScrumProject.ViewModels;
@model LoginViewModel;

<div class="row flex-column align-items-center mt-5 pt-3">
    <div class="w-75">
        <form class="border" method="post" asp-action="LogIn">
            <h2 class="text-center">Login</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

            <!-- Username -->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-sm-6 ">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group row mt-1 justify-content-center">
                <div class="col-8 col-sm-6">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Remember user -->
            <div class="form-group row mt-1 justify-content-center">
                <div class="text-center">
                    <input type="checkbox" title="Remember Me" asp-for="RememberMe" />
                    <label asp-for="RememberMe">Remember Me</label>
                </div>
            </div>

            <!-- Login or Register -->
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-outline-dark">Log In</button><br>
                <p class="pt-2">Not registered?<br><a asp-action="Register">Register as a new user</a></p>
            </div>
        </form>
    </div>
</div>
