@using ScrumProject.ViewModels;
@model RegisterViewModel;

<div class="row flex-column align-items-center mt-5 pt-3">
    <div class="w-75">
        <form class="border pt-1" method="post" asp-action="Register">
            <h2 class="text-center">Register</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Username -->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-sm-6">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row justify-content-center">
                
                <div class="col-8 col-sm-6">
                    <input type="email" asp-for="Email"
                           class="form-control" placeholder="Email" />
                
                
                    <span asp-validation-for="Email"
                          class="text-danger"></span>
                </div>
                </div>

            <!-- Password -->
            <div class="form-group row justify-content-center mt-1">
                <div class="col-8 col-sm-6">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Confirm password -->
            <div class="form-group row justify-content-center mt-1">
                <div class="col-8 col-sm-6">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                </div>
            </div>
            
            <!-- Register or Login -->
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-outline-dark">Register</button><br>
                <p class="mt-2">Already registered? <br><a asp-action="LogIn">Log In</a></p>
            </div>
        </form>
    </div>
</div>