@{
    ViewData["Title"] = "FAQ Page";
}

<h1 class="text-md pt-4">Frequently Asked Questions
</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
    
    <div class="accordion pt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What are your hours?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    We are open from 7:30 in the morning until 5:30 in the evening.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Do I need an appointment?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Although we highly suggest scheduling an appointment beforehand, it is not required to access our services.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Do you provide rental vehicles?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we do provide rental vehicles as a part of our services. If you are in need of transportation while your vehicle is being worked on, our team can help to arrange you with a rental car.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What forms of payment do you accept?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   We accept all major credit cards (Visa, Mastercard, American Express, Discover), debit cards, as well as cash.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Is there any way to check the progress of vehicle maintenance? 
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can check the progress of your vehicle by emailing or calling us over on our contact page.
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-4 text-right pt-3">
            <div style="margin-top: 20px; font-size: 18px; text-align: right;">
                Have any other questions? <a href="/Contact">Contact us here</a>.
            </div>
        </div>
    </div>
</div>