@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Scott's Automotive Homepage</title>
    <meta name="author" content="SWDV280" />
    <meta name="description" content="Scott's Automotive is a dedicated and passionate auto repair service with the customer being involved in every step of the process" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <main>
        <section class ="container-fluid text-center d-flex justify-content-center align-items-center mb-5 text-custom-dark">
            <div class="custom-rounded rounded-top bg-mechanic shadow">
                 <h1 class="mt-5 display-3 text-custom-dark">Scott's Auto Repair Services</h1>
                 <h2 class="display-6 text-custom-dark">Treasure Valley, ID</h2>
                 <p class="w-75 mx-auto mt-5 text-custom-dark lead">
                     At Scott’s Automotive we understand how important your vehicle is to you, your family or your small business. We are committed and passionate about keeping your vehicle
                     operating efficiently and dependably. Our service to you includes the following practices:
                 </p>
                 <div class="my-5">
                     <a class="btn btn-light btn-rounded text-custom-dark me-3" asp-controller="BookAppt" asp-action="Index">Schedule Appointment</a>
                     <a class="btn btn-light btn-rounded text-custom-dark" asp-controller="Contact" asp-action="Index">Contact Us</a>
                    <a class="btn btn-light btn-rounded text-custom-dark" asp-controller="Home" asp-action="About">About Us</a>
                 </div>
            </div>
        </section>
        <section class="container-fluid d-flex justify-content-center align-items-center text-center my-5">
            <div class="bg-green-light custom-rounded bg-opacity-75 p-5 shadow text-custom-dark">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 p-3">
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img class="card-img-top" src="~/images/rpm.png">
                            <div class="card-body">
                                <h3 class="card-title text-custom-dark">Speed of Service</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img class="card-img-top" src="~/images/accuracy.png">
                            <div class="card-body">
                                <h3 class="card-title text-custom-dark">Accuracy and Quality</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img class="card-img-top" src="~/images/integrity.png">
                            <div class="card-body">
                                <h3 class="card-title text-custom-dark">Honesty and Integrity</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img class="card-img-top" src="~/images/altdealer.png">
                            <div class="card-body">
                                <h3 class="card-title text-custom-dark">Your Dealership Alternative</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 d-flex justify-content-between bg-light-to-md text-custom-dark custom-rounded my-3 p-5 shadow">
                    <div class="col">
                        <h4 class="text-center text-decoration-underline">Collision Repair Services</h4>
                        <ul class="list-unstyled">
                            <li>Windshield Repair</li>
                            <li>Auto Glass Repair</li>
                            <li>Paintless Dent Removal</li>
                            <li>Computer Diagnostics</li>
                            <li>Hail Damage Repair</li>
                            <li>Fender Repair</li>
                            <li>Calibration Services</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="text-center text-decoration-underline">Painting Services</h4>
                        <ul class="list-unstyled">
                            <li>Electro-dip</li>
                            <li>Top-Coat</li>
                            <li>Sealant</li>
                            <li>Paint Repair</li>
                            <li>Fleet Services</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="text-center text-decoration-underline">Specialty Painting</h4>
                        <ul class="list-unstyled">
                            <li>Chrome</li>
                            <li>Pearlescent</li>
                            <li>Metallic</li>
                            <li>Matte</li>
                            <li>Custom</li>
                            <li>Vinyl Wrapping</li>
                        </ul>
                    </div>
                </div>
                <div class="w-100 d-inline-flex justify-content-center mt-3">
                    <a class="btn btn-light btn-rounded text-custom-dark me-3" asp-controller="BookAppt" asp-action="Index">Schedule Appointment</a>
                    <a class="btn btn-light btn-rounded text-custom-dark" asp-controller="Contact" asp-action="Index">Contact Us</a>
                    <a class="btn btn-light btn-rounded text-custom-dark" asp-controller="Home" asp-action="About">About Us</a>
                </div>
            </div>
        </section>
        <section class="container-fluid d-flex justify-content-center align-items-center mt-5">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/hoonigan.svg" class="mx-auto mt-4" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/ac-racing.svg" class="w-50 mx-auto" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/mobil.svg" class="w-50 mx-auto" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/ducati.svg" class="w-50 mx-auto" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/bos-suspension.svg" class="w-50 mx-auto" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-card">
                            <img src="~/images/autoparts.svg" class="w-50 mx-auto" />
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
</html>