@{
    ViewData["Title"] = "Reviews";
}

<div class="container mt-4">
    <h1 class="pt-3">What our customers say:</h1>
    <!--Review 1-->
    <div class="row pt-4">
        <div class="col-md-5">
            <img src="https://cdn11.bigcommerce.com/s-xabjiyiwa/products/8510/images/63960/transitfrontbumperangle2lowres__80993.1698677898.1280.1280.jpg?c=1" class="img-fluid m-25" />
        </div>
        <div class="col-md-6">
            <h2>Fixed My Bumper!</h2>
            <p class="lead">Getting my bumper replaced was a worry, especially with my limited budget. However, I was really surprised by how low the price was for a replacement. 
                The wait was pretty short too, I had my car back with a brand new bumper within half a week. Will be coming here again!</p>
        </div>
    </div>
    <!--Review 2-->
    <div class="row pt-4">
        <div class="col-md-5">
            <img src="https://www.premereautodetail.com/wp-content/uploads/2012/06/New-Paint-Job-Blog-Post.jpg" class="img-fluid m-25" />
        </div>
        <div class="col-md-6">
            <h2>Incredible Paintjob</h2>
            <p class="lead">Absolutely worth the price. Car looks just like new!</p>
        </div>
    </div>
    <!--Review 3-->
    <div class="row pt-4">
        <div class="col-md-5">
            <img src="https://trueblueautoglass.com/wp-content/uploads/2020/09/Replacing-windshield.jpg" class="img-fluid m-25" />
        </div>
        <div class="col-md-6">
            <h2>Windshield repair</h2>
             <p class="lead">Windshield got some cracks and dents in it a while back after being stuck behind a gravel truck on the way to work.
               Brought my car over and they had it fixed within an hour. Very good service.
            </p>
        </div>
    </div>
    <!--Review 4-->
    <div class="row pt-4">
        <div class="col-md-5">
            <img src="https://cdn.bmwblog.com/wp-content/uploads/2022/04/bmw-7-series-2023-exterior-interior-25.jpg" class="img-fluid m-25" />
        </div>
        <div class="col-md-6">
            <h2>Cheap headlight replacement</h2>
            <p class="lead">Got my left headlight fixed for a great price, would recommend!</p>
        </div>
    </div>
</div>




