@using ScrumProject.Models.DataLayer;
@using ScrumProject.Models.Helper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScrumProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg bg-custom-red">
            <div class="container-fluid">
                <a class="navbar-brand text-black" asp-controller="Home" asp-action="Index" asp-area="">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItems" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navItems">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" asp-controller="Contact" asp-action="Index" asp-area="">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" asp-controller="Home" asp-action="Reviews" asp-area="">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" asp-controller="BookAppt" asp-action="Index" asp-area="">Book Appointment</a>
                        </li>
                    </ul>
                    <!-- Identity Sign In/Out and Register -->
                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<AuthUser> signInManager

                    <ul class="navbar-nav ms-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <!-- Signed in user - logout and username -->
                            <li class="nav-item">
                                <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                                    <button type="submit" class="btn btn-outline-dark me-2">Logout</button>
                                </form>
                            </li>
                            <li class="nav-item text-light mt-1">@User.Identity.Name</li>
                        }
                        else
                        {
                            var action = ViewContext.RouteData.Values["Action"]?.ToString(); //get route data

                            <!-- Anonymous user -->
                            <li class="nav-item @Nav.Active("Register", action)">
                                <a asp-action="Register" asp-controller="Account" asp-area="" class="btn btn-outline-dark me-2">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account" asp-area="" class="btn btn-outline-dark me-2">Log In</a>
                            </li>
                        }

                        <!-- Add Admin link -->
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="User" asp-area="Admin" class="nav-link">Admin</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ScrumProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
