<div class="container mt-5">

    <!--title/description-->
    <div class="row justify-content-end">
        <div class="row col-md-8">
            <h1 class="text-left mb-3">Download Forms</h1>
            <p class="lead text-left">Here you can find a list of forms that are commonly requested or useful for our clients. Feel free to download and fill out the necessary forms for your repair process.</p>
  
            <div class="bg-white p-4 rounded-1">

                <!-- Insurance Verification -->
                <div class="pb-3">
                    <h4> Insurance Verification: </h4>
                    <a href="@Url.Action("Download", "Forms", new { fileName = "InsuranceVerification.pdf" })" class="btn btn-primary btn-sm">Download PDF</a>
                </div>

                <!-- Release of Liability -->
                <div class="pb-3">
                    <h4> Release of Liability: </h4>
                    <a href="@Url.Action("Download", "Forms", new { fileName = "ReleaseLiability.pdf" })" class="btn btn-primary btn-sm">Download PDF</a>
                </div>

                <!-- Repair Authorization -->
                <div class="pb-3">
                    <h4> Repair Authorization: </h4>
                    <a href="@Url.Action("Download", "Forms", new { fileName = "RepairAuthorization.pdf" })" class="btn btn-primary btn-sm">Download PDF</a>
                </div>

            </div>
        </div>

        <!--extra info-->
        <div class="col-md-4 text-right pt-5">
            <p class="text-secondary fst-italic">If you require a form that is not included on this page, or you have any other general questions. Please reach out to us directly or visit our <a href="/Contact"> contact page </a> and we are more than happy to help.</p>
        </div>
    </div>
</div>
